/* You can add global styles to this file, and also import other style files */
body, * {
  font-family: 'Roboto', sans-serif;
}

/* styles.scss (Global file) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #444;
    background-color: white;
}

/* Mimic the system overlay */
.activate-windows-notice {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    line-height: 1.4;
    text-align: right;
    width: 180px;
    z-index: 1000;

    small {
        display: block;
        font-weight: 400;
        color: #777;
    }
}